<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<IWD_NewsPopup>
			<version>0.1.4</version>
		</IWD_NewsPopup>
	</modules>
	<frontend>
	 <routers>
            <iwdpopup>
                <use>standard</use>
                <args>
                    <module>IWD_NewsPopup</module>
                    <frontName>iwdpopup</frontName>
                </args>
            </iwdpopup>
        </routers>
		<layout>
			<updates>
				<iwdpopup>
					<file>newsletter_popup.xml</file>
				</iwdpopup>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<events>
	       <controller_action_predispatch>
	           <observers>
	               <iwdpopup_check_related>
	                   <type>sinleton</type>
	                   <class>iwdpopup/observer</class>
	                   <method>checkRequiredModules</method>
	               </iwdpopup_check_related>
	           </observers>
	       </controller_action_predispatch>
		</events>
		<layout>
			<updates>
				<quickview>
					<file>newspopup.xml</file>
				</quickview>
			</updates>
		</layout>
		 <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iwdpopup translate="title" module="iwdpopup">
                                            <title>IWD Newsletter Popup</title>
                                        </iwdpopup>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
	<global>
		<resources>
			<iwdpopup_setup>
				<setup>
					<module>IWD_NewsPopup</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</iwdpopup_setup>
		</resources>
		<helpers>
			<iwdpopup>
				<class>IWD_NewsPopup_Helper</class>
			</iwdpopup>
		</helpers>
		<models>
			<iwdpopup>
				<class>IWD_NewsPopup_Model</class>
			</iwdpopup>
		</models>
	</global>
	<default>
		<iwdpopup>
			<general>
				<newsenabled>1</newsenabled>
				<newswidth>540</newswidth>
				<newslink>1</newslink>
				<newsbuttonbg>#000000</newsbuttonbg>
				<newsbuttonhover>#3399CC</newsbuttonhover>
				<newsbuttontext>#FFFFFF</newsbuttontext>
				<newsiconbg>#3399CC</newsiconbg>
				<newsiconhover>#07C5EB</newsiconhover>
				<newsicontext>#FFFFFF</newsicontext>
				<newsicongrid>3</newsicongrid>
				<newslinktext>Newsletter Subscribe</newslinktext>
				<newstopspace>40</newstopspace>
				<newspopupdelay>2</newspopupdelay>
			</general>
			<device>
				<newsmobile>1</newsmobile>
				<newstablet>1</newstablet>
			</device>
		</iwdpopup>
	</default>
</config>