html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
	border:0;
	outline:0;
}
img, fieldset {
	border: 0;
}
ol, ul {
	list-style: none;
}
img {
	
	height: auto;
	width: auto\9; /* ie8 */
	margin: 0px;
	vertical-align: middle;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 1px solid #0752c5;
	margin: 10px 0;
	padding: 0;
}
body {
	background:url("../images/bg.jpg") repeat scroll center top rgba(0, 0, 0, 0);
	color: #666;

	/*box-shadow:0 5px 5px #a6a6a5;*/
    font-size: 12px;
	font-family: 'Duru Sans', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
a {
	color: #4C4C4C;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration:underline;
	cursor:pointer;
}
p {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0px;
	color: #000;
	font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

.clear {
	clear:both;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}

/*********************** Basic End ***************************/
#wrapper {
	width: 980px;
	margin:0 auto 10px;
	position:relative;
	/*overflow:hidden;*/
	background:#fff;
	box-shadow: 0 0 4px 3px #939393;
	 min-height:100%;
	 height:auto;
}
#parent_container {
    margin: 0 auto;
    width: 940px;
	padding-top:10px;
	height:auto;
	min-height:100%;
}
#header
{
	width:940px;
	margin:0 auto;
	display:block;
	clear:both;
	padding-bottom:6px;
}
#head-topmenu
{
	width:100%;
	/*background:#ffb4e6;*/
	background:#009edc;
	height:40px;
	
	position:relative;
}
#head-topmenu ul
{
	list-style:no;
	float:right;
	padding:10px 10px 0 0;
}
#head-topmenu ul li
{
	float:left;
	
}
#head-topmenu ul li a
{
	border-right: 1px solid #FFFFFF;
    color: #fff;
    display: inline;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    text-transform: uppercase;
	text-decoration:none;
	font-size:12px;
}
#head-topmenu ul li a:hover
{
	color:#fff;;
}
#head-topmenu ul li a.last
{
	border:none;
}
#header_container {
    height: 120px;
    margin: 5px 0px;
	position:relative;
	/*background:url(../images/header-bg.jpg) no-repeat scroll;*/
}
.head-left
{
	float:left;
	margin-top:30px;
}
.head-left .logo
{
	background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 63px;
    width: 251px;
}
.head-right
{
	float:right;
	width:auto;
}
img.satisfaction
{
	float:right;
	display:block;
	border:none;
	position:relative;
	width:100px;
}
.head-right ul
{
	list-style:none;
	padding:70px 0 0 0;
}
.head-right ul li
{
	float:left;
	display:inline-block;
}
.head-right ul li a
{
	/*color:#5dcbff;*/
	color:#5d5d5f;
	font-size:14px;
	display:inline-block;
	padding:0 12px 5px 12px;
	text-transform:uppercase;
	font-weight:normal;
	text-decoration:none;
	font-family:'Duru Sans',sans-serif;
	
}
.head-right ul li a:hover, .head-right ul li a.active
{
	border-bottom:4px solid #009EDC;
	color:#009EDC;
}
.head-gap
{
	border:10px solid #eeeeee;
	clear:both;
}
/*******************************contianer start*******************************/

#container {
	
	width:940px;
	padding:0px 0 0px 0;
	height:auto;
	min-height:100%;


}
#main-container {
	width:940px;
	margin:0px auto;
	height:auto;
	/*min-height:700px;*/
	clear:both;
	
}

#left-panel
{
	float:left;
	width:222px;
	position:relative;
	height:auto;
}
#leftpanel-box
{
	display:block;
}
#leftpanel-box h2.title
{
	background:#009EDC;
	height:35px;
	line-height:35px;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	text-align:left;
	font-family: 'Duru Sans', sans-serif;
	padding-left:18px;
	text-transform:uppercase;

}

#leftpanel-box .leftpanel-content
{
	height:auto;
	overflow:hidden;
	background-color:#f7f7f7;
	margin-bottom:10px;
}
#leftpanel-box ul.leftpanel-content-cat
{
	list-style:none;
	
}
#leftpanel-box ul.leftpanel-content-cat li
{
	/*height:60px;
	border-bottom:1px solid #eee;*/
	display:block;
	float:left;
	height:40px;
	width:222px;

}
#leftpanel-box ul.leftpanel-content-cat li a
{
	color:#666;
	font-size:12px;
	font-weight:normal;
	text-transform:capitalize;
	display:block;
	padding:10px 0 0px 15px;
	text-decoration:none;
	float:left;
	width:222px;
	background:url(../images/cat-a.png) no-repeat;
	height:40px;
	
}
#leftpanel-box ul.leftpanel-content-cat li a:hover, #leftpanel-box ul.leftpanel-content-cat li a.active
{
	color:#009EDC;
	background:url(../images/cat-hover.png) no-repeat;
}

#leftpanel-box ul.leftpanel-content-cat li span
{
	
    
    display: block;
    float: right;
	line-height:20px;
    width: 50px;
	color:#fff;
}

#topshop
{
	background:url(../images/top-shop.jpg) no-repeat;
	height:102px;
}
#topshop ul
{
	float:right;
	list-style:none;
	width:124px;
}
#topshop ul li
{
	display:block;
	color:#a2a2a2;
	font-size:8.4px;
	height:20px !important;
	border:0px !important;
}
#topshop ul li span.location
{
	background:url(../images/location.jpg) no-repeat;
	width:13px;
	padding-right:15px;
}
#topshop ul li span.email
{
	background:url(../images/email.jpg) no-repeat;
	width:13px;
	padding-right:15px;
}

#topshop h2.tptitle
{
	color:#a2a2a2;
	text-transform:uppercase;
	font-size:18px;
	float:right;
	margin:0px;
	padding:15px 45px 10px 0;
}
#follower
{
	background:#333;
	height:60px;
	border-radius:0px 0px 2px 2px;
}
#follower ul
{
	list-style:none;
}
#follower ul li
{
	border: 0 none !important;
    color: #aaaaaa;
    display: inline-block;
    float: left;
    text-align: center;
    width: 74px;
	font-size:10px;
	text-transform:uppercase;
	height:60px;
}
#follower ul li span
{
	padding:15px 0 0 15px;
	position:relative;
	float:left;
	color:#fff;
	font-size:20px;
}

#follower ul li.listed
{
	background:#3399EE;
	color:#fff;
}
#home-content
{
	float:right;
	width:696px;
	position:relative;
	height:auto;
	min-height:100%;
	padding-bottom:10px;
}

/***************************footer start********************************/
#footer {
    display: block;
    position:relative;
	clear:both;
}

#footer_container {
	border-top: 1px solid #DDDDDD;
    height: auto;
    min-height: 30px;
    overflow: hidden;
    padding-top: 10px;
    width: 940px;
	padding-bottom:10px;
	margin:0 auto;
}

#footer-bottom
{
	display:block;
	clear:both;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom:10px;
	margin-bottom:10px;
	min-height:100px;
	height:auto;
	overflow:hidden;
}

#footer-bottom ul li
{
	float:left;
	width:230px;
	position:relative;
	vertical-align:top;
}
#footer-bottom ul li:nth-child(3n)
{
	width:250px;
}

#footer-bottom ul li h2
{
	text-transform:capitalize;
	font-size:16px;
	color:#222;
}

#footer-bottom ul li a
{
	display:block;
	line-height:22px;
	text-transform:capitalize;
	font-size:12px;
	color:#666;
}

#footer-bottom ul li a[name = fb]
{
	display:block;
	line-height:28px;
	text-transform:capitalize;
	background:url(../images/fb.jpg) left no-repeat scroll;
	padding-left:30px;
}

#footer-bottom ul li a[name = twitter]
{
	display:block;
	line-height:28px;
	text-transform:capitalize;
	background:url(../images/twitter.jpg) left no-repeat scroll;
	padding-left:30px;
}

#footer-bottom ul li a[name = blog]
{
	display:block;
	line-height:28px;
	text-transform:capitalize;
	background:url(../images/blog.jpg) left no-repeat scroll;
	padding-left:30px;
}

#footer-bottom ul li a[name = rss]
{
	display:block;
	line-height:28px;
	text-transform:capitalize;
	background:url(../images/rss.jpg) left no-repeat scroll;
	padding-left:30px;
}

#footer-bottom ul li address
{
	font-style:normal;
}

#footer-bottom ul li address p
{
	color: #666666;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
}

#footer-bottom ul li address p a
{
	display:inline-block;
}

.designby
{
	text-align:right;
	font-size:13px;
}
.designby a
{
	color:#666;
	text-decoration:none;
	font-size:13px;
}
.designby a:hover
{
	color:#FF4B37;
}

/***************************footer end********************************/



/***************************product-detail start********************************/

#product {
	display: block;
	
	margin-bottom:10px;
	clear:both;
}

.main-product {
	/*padding: 10px;*/
}
.product-galary {
	float: left;
	/*width: 330px;*/
	margin-top:15px;
}
.detail-big-box
{
	float:right;
	display:block;
	position:relative;
}
.big-img {
	/*margin-top: 10px;*/
	height: auto;
	text-align: center;
	width: 330px;
	border:none;
}

.product-right {
	float: right;
	margin-top: 15px;
	width: 520px;
	margin-left:15px;
}

.product-title {
	color: #666;
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

.product-logo-image
{
	float:right;
}

.product-logo-image img
{
	border:none;
	width:125px;
}

.product-intro {
	padding-bottom: 10px;
	color: #666;
	font-size: 12px;
	text-transform: capitalize;
	display:block;
}

.rrp-price {
	padding-bottom: 10px;
	color: #908F8F;
	font-size: 12.del-frompx;
	text-transform: capitalize;
}

.rrp-price span
{
	text-decoration:line-through;
}

.price3 {
	color: #009EDC;
	display: block;
	font-size: 35px;
	font-weight: bold;
	padding-bottom: 10px;
	font-family: 'Duru Sans', sans-serif;
}

.del-from {
	color: #908F8F;
	font-size: 12px;
	font-weight: normal;
	display:block;
	margin-top:5px;
}

.instock {
	color: #4c4c4c;
	float: left;
	padding: 5px 0px 0 0;
	text-align: left;
	width: 100%;
}
.product-cards {
	width: 295px;
	height: 21px;
	margin: 3px 0 0;
	float: left;
	text-align: right;
}
.detail-product-box {
	display: block;
	padding-top: 20px;
}

.short-des
{
	clear:both;
	padding-top:10px;
	padding-right:5px;
	font-size:12px;
	height:60px;
	overflow:hidden;
}
.short-des p
{
	margin:0 0 20px;
	padding:0px;
	text-align:justify;
}
.getright-product
{
	clear:both;
	display:block;
	position:relative;
}
.getright-product img {
	border: 2px solid #999;
	height: 94px;
	width: 520px;
}


/*home slider start -------------------------------------------*/
#home_promos {
    height: auto;
    overflow: hidden;
    position: relative;
	margin:0px;
	margin-bottom:0px;
	clear:both;
}

.slidershadow
{
	background:url(../images/homeslider-shadow.png) no-repeat;
	width:900px;
	height:29px;
	clear:both;
	margin:0 auto;
}
/*home slider end -------------------------------------------*/


/*listing start -------------------------------------------*/
.listing-logo
{
	text-align:center;
}

#listing-left-panel
{
	float:left;
	width:255px;
	display:block;
	position:relative;
	height:auto;
}

#listing-leftpanel-box
{
	display:block;
}

#listing-leftpanel-box h2.title
{
	
}

#listing-leftpanel-box .listing-leftpanel-content
{
	height:auto;
	overflow:hidden;
	background-color:#0064C6;
	margin-bottom:10px;
	padding-bottom:30px;
}

#listing-leftpanel-box ul.listing-leftpanel-content-cat
{
	list-style:none;
	background:url(../images/listing-left-bg.jpg) bottom center no-repeat scroll;
	padding-bottom:120px;
	
}

#listing-leftpanel-box ul.listing-leftpanel-content-cat li
{
	display:block;
	width:255px;
}

#listing-leftpanel-box ul.listing-leftpanel-content-cat li a
{
	color:#FFFFFF;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	padding:10px 0 10px 30px;
	margin-left:10px;
	text-decoration:none;
	background:url(../images/listing-left-arrow.jpg) left no-repeat scroll;
}

#listing-leftpanel-box ul.listing-leftpanel-content-cat li a:hover
{
	color:#000000;
}

#listing-right-panel
{
	float:right;
	width:685px;
	display:block;
	position:relative;
	height:auto;
	min-height:100%;
}

#listing-right-panel img
{
	width:685px;
}

#listing-product-description
{
	display:block;
	clear:both;
}

.listing-product-description-title
{
	min-height:120px;
	padding-bottom:10px;
}

.listing-product-description-title img
{
	display:inline-block;
}

.listing-product-description-title h2
{
	/*border-bottom:1px solid #DDDDDD;*/
	color:#555555;
	font-size:22px;
	font-weight:500;
	text-transform:capitalize;
	display:inline-block;
	vertical-align:bottom;
	width:780px;
}

.listing-product-description-content
{
	clear:both;
	padding-left:10px;
}

.listing-product-description-content p
{
	font-size:15px;
	color:#000000;
	line-height:22px;
}

#listing-container-bottom
{
	clear:both;
	display:block;
}

.listing-container-bottom-title
{
	display:block;
}

.listing-container-bottom-title h2
{
	color:#555555;
	font-size:22px;
	font-weight:500;
	text-transform:capitalize;
	height:45px;
	line-height:45px;
}

.listing-container-bottom-featured
{
	width:300px;
	display:inline-block;
	vertical-align:top;
	margin-bottom:15px;
	margin-right:15px;
}

.listing-container-bottom-featured-last
{
	margin-right:0;
}

.listing-container-bottom-featured img
{
	padding:10px;
	border:1px solid #DDDDDD;
	background-color:#F7F8FA;
	border-radius:5px;
	width:270px;
}

.listing-container-bottom-featured h2
{
	padding:10px 0 10px 0;
	color:#000000;
	text-transform:capitalize;
	font-weight:bold;
	font-size:18px;
}

.listing-container-bottom-featured p
{
	font-size:13px;
	text-align:justify;
	color:#000000;
	padding-right:10px;
	line-height:18px;
	margin:0;
}

.listing-review
{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}

.listing-review-left
{
	display:inline-block;
	vertical-align:top;
	border:1px solid #E6E6E6;
}
.listing-review-left img.video
{
	width:250px;
	height:240px;
	border:none;
	display:block;
}
.listing-review-left-comtent
{
	text-align:center;
	text-transform:uppercase;
	font-size:18px;
	font-weight:600;
	height:30px;
	line-height:30px;
	color:#7F898A;
}

.listing-review-left-comtent span
{
	color:#B3BD9B;
}


.listing-review ul
{
	display:inline-block;
	width:644px;
	margin-left:20px;
	padding:0px 10px 10px 10px;
}

.listing-review ul li
{
	display:block;
	border:1px solid #F2F2F2;
	margin-bottom:10px;
	border-radius:10px;
}

.listing-review-image
{
	display:inline-block;
	vertical-align:middle;
	padding:10px;
}

.listing-review-content
{
	display:inline-block;
	vertical-align:middle;
	width:545px;
	padding:10px 0;
}

.listing-review-content-name
{
	text-transform:uppercase;
	color:#767F7E;
	font-size:18px;
	font-weight:600;
	padding-bottom:5px;
}

.listing-review-content-comment
{
	color:#A1A3A2;
	font-size:15px;
	font-weight:600px;
}

#listing-footer {
    display: block;
    position:relative;
	clear:both;
}

#listing-footer_container {
    height: auto;
    min-height: 30px;
    overflow: hidden;
    width: 940px;
	background-color:#272727 !important;
	background-image:none;
	background-position:center center !important;
	background-repeat:repeat;
}

.listing-footer_container-top
{
	display:block;
	min-height:9px;
	background:url(../images/listing-footer-top-bg.jpg) repeat-x scroll;
}

.listing-footer_container-bottom
{
	display:block;
	min-height:59px;
	background:url(../images/listing-footer-bottom-bg.jpg) !important;
	background-color:rgba(0, 0, 0, 0) !important;
	background-position:center bottom !important;
	background-repeat:repeat-x;
}

.listing-footer_container-bottom a img
{
	height:59px;
	width:autol;
	border:none;
}

.listing-develop-by
{
	display:inline-block;
	color:#767676 !important;
	text-align:right;
	width:775px;
	padding-right:10px;
}

.listing-develop-by a
{
	font-size:83%;
	color:#767676 !important;
	text-decoration:underline;
}

/*listing end -------------------------------------------*/
.beauty-video
{
	clear:both;
	width:940px;
	margin:0 auto;
	position:relative;
}
.beauty-youtube
{
	position:relative;
	border:0px;
	display:block;
}
.order-unlimitd-banner
{
	width:380px;
	float:right;
	display:block;
	position:relative;
}
.order-unlimitd-banner img.orderbanner
{
	width:380px;
	height:560px;
	border:4px solid #ccc;
    position:relative;
	
}

.social {
	display: block;
	float: left;
	left: -8px;
	position: relative;
	width:180px;
}
.social ul
{
	list-style:none;
	width:180px;
}
.social ul li
{
	display:inline-block !important;
	float:left !important;
	width:45px !important;
}
.twitter-hover {
	background-image: url("../images/twitter-hover.png");
}
.facebook-hover {
	background-image: url("../images/facebook-hover.png");
}
.pinterest-hover {
	background-image: url("../images/pinterest-hover.png");
}

.blogger-hover {
	background-image: url("../images/blogger-over.png");
}

.social-slide {
	float: left;
	height: 35px;
	margin: 10px;
	transition: all 0.3s ease 0s;
	width: 35px;
	box-shadow:0px 2px 4px 1px rgba(0, 0, 0, 0.8);
}
.social-slide:hover {
	background-position: 0 -35px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.8);
}








