<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Fashion Official - Product Details</title>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<link href="css/style.css" rel="stylesheet" media="all" type="text/css">
<script src="js/jquery.jqzoom-core.js" type="text/javascript"></script>
<link href="css/jquery.jqzoom.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript">
$(document).ready(function() {
	$('.jqzoom').jqzoom({
            zoomType: 'standard',
            lens:true,
            preloadImages: false,
            alwaysOn:false
        });
});
</script>
<link href="css/SpryTabbedPanels.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/SpryTabbedPanels.js"></script>

<script src="js/jquery.jcarousel.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/featured-skin.css" />
<script>
  	jQuery(document).ready(function() {
    jQuery('#mycarousel-like').jcarousel({
        //auto: 1,
        wrap: 'circular'
    });
})
 </script>
 
<link href="css/dcmegamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type='text/javascript' src='js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='js/jquery.dcmegamenu.1.2.js'></script>
<script type="text/javascript">
$(document).ready(function($){
	$('#mega-menu-1').dcMegaMenu({
		rowItems: '6',
		speed: 'fast',
		effect: 'slide'
	});
});
</script>
 
</head>
<body>
<div id="wrapper">
  <div id="parent_container">
    <div id="header">
      <div id="header_container">
        <div class="head-top">
          <div class="head-left">
            <div class="logo"> <a href="#"><img src="images/logo.jpg" /></a> </div>
          </div>
          
          <div class="head-mid">
          	<div class="head-mid-contact"><img src="images/contacts_fashion.jpg" /></div>
          </div>
          
          <div class="head-right">
            <div class="head-right-top-links">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a class="last" href="#">Size Guide</a></li>
                </ul>
              </div>
              
            <div class="top-social">
            	<ul>
                	<li><a href="#"><img src="images/fb_fashion.jpg" /></a></li>
                    <li><a href="#"><img src="images/tw_fashion.jpg" /></a></li>
                    <li><a href="#"><img src="images/gp_fashion.jpg" /></a></li>
                    <li><a href="#"><img src="images/in_fashion.jpg" /></a></li>
                    <li><a href="#"><img src="images/pi_fashion.jpg" /></a></li>
                    <li><a href="#"><img src="images/tu_fashion.jpg" /></a></li>
                </ul>
            </div>
            
          </div>
          
        </div>
        
        <div class="head-bottom">
        
        	<div class="head-menu">
        <div class="mainNavigation_linkList_content">
            <ul id="mega-menu-1" class="mega-menu">
              
			  <li><a href="#"><img src="images/home_fashion.png" /></a></li>
			  
              <li><a href="#">Mens</a>
                <ul>
                  
                  <li>
                    <ul>
                      <li><a href="#">New In</a></li>
              <li><a href="#">Sale</a></li>
              <li><a href="#">Jackets</a></li>
              <li><a href="#">Jumpers</a></li>
              <li><a href="#">Sweats</a></li>
              <li><a href="#">Shirts</a></li>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Polo Shirts</a></li>
              <li><a href="#">Jeans</a></li>
              <li><a href="#">Trousers</a></li>
              <li><a href="#">Shorts</a></li>
              <li><a href="#">Footwear</a></li>
                    </ul>
                  </li>
				  
                </ul>
              </li>
              
              <li><a href="#">Womens</a>
                <ul>
                  
                  <li>
                    <ul>
                      <li><a href="#">New In</a></li>
              <li><a href="#">Sale</a></li>
              <li><a href="#">Jackets</a></li>
              <li><a href="#">Tops</a></li>
              <li><a href="#">Jeans</a></li>
              <li><a href="#">Trousers</a></li>
              <li><a href="#">Dresses</a></li>
              <li><a href="#">Shorts</a></li>
              <li><a href="#">Skirts</a></li>
                    </ul>
                  </li>
				  
                </ul>
              </li>
			  
            </ul>
          </div>
        	</div>
        
        	<div class="top-newsletter"><a href="#"><img src="images/news.gif" /></a></div>	
        </div>
        
        <div class="head-promo">
        	<ul>
            	<li><img src="images/delivery_fashion.jpg" /></li>
                <li><img src="images/returns_fashion.jpg" /></li>
                <li><img src="images/faq_fashion.jpg" /></li>
            </ul>
        </div>
        
      </div>
      <div class="head-gap"></div>
    </div>
    
    <div id="main-container" >
      <div id="container">
        
        
        <div id="product">
          <div class="main-product">
            <div class="product-galary">
              <div class="detail-big-box"><a href="images/products/detail/big1.jpg" class="jqzoom" rel='gal1'  title="triumph" > <img src="images/products/detail/big1.jpg"  title="triumph" class="big-img" > </a> </div>
              <div class="detail-thumb-vertical" >
                <ul id="thumblist" class="clearfix" >
                  <li><a class="zoomThumbActive" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/products/detail/big1.jpg',largeimage: 'images/products/detail/big1.jpg'}"><img src='images/products/detail/big1.jpg'></a></li>
                  <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/products/detail/big2.jpg',largeimage: 'images/products/detail/big2.jpg'}"><img src='images/products/detail/big2.jpg'></a></li>
                  <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/products/detail/big3.jpg',largeimage: 'images/products/detail/big3.jpg'}"><img src='images/products/detail/big3.jpg'></a></li>
                  <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: 'images/products/detail/big4.jpg',largeimage: 'images/products/detail/big4.jpg'}"><img src='images/products/detail/big4.jpg'></a></li>               </ul>
              </div>
            </div>
            
            <div id="TabbedPanels1" class="TabbedPanels">
          <ul class="TabbedPanelsTabGroup">
            <li class="TabbedPanelsTab" tabindex="0"><a href="#">description</a></li>
            <li class="TabbedPanelsTab" tabindex="0"><a href="#">Delivery information</a></li>
          </ul>
          <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent">
              
              <div class="description-price">
                <div class="fleft brand-logo"><img src="images/brand-logo.png" width="70" /></div>
                <div class="description-product-price">
                	<div clas=="rrp"><span class="line-through-text">RRP &pound; 149.99 </span> | You save: 25%</div>
                    <div class="erp"><span class="font-italic">Our Price </span><span class="red-color">&pound; 124.99</span> </div>
                </div>
			 </div>
                
              <div class="description-tab">
              
              
              
              <h2>Womens Trench coat by Lavand</h2>
              
              <p>This belted womens trench coat features side zip fastening and adjustable waistband. Buttoned funnel neck will keep your neck warm in cold weather.Elegant womens coatwith shoulder epaulettes and chest pocket on the right side. This piece is easy to mix and match with other clothing in your waredrobe.</p>
              
              <p>Shell: 65% Polyester, 32% Cotton, 3% Other fibers</p>
              
              <p>Lining: 100% Polyetser </p>
              
              <p>Machine washable</p>
              
              <p>Sizes available: XS S M L</p>
              
              <h2>About Lavand</h2>
              
              <p>Lavand is a fashion brand for sweet and charismatic girls, who make everyday unique and special.Discover the world of lavand where brilliant girls sparkle with positive attitude.</p>
              
              </div>
              
            </div>
            
            <div class="TabbedPanelsContent">
              <p class="fright"><img src="images/delevery-options.jpg" width="70" /></p>
              
              <div class="delivery-tab">
              
              <h2>Our partners</h2>
              
              <p>We cooperate with Royal Mail<sup>TM</sup>. If there is no-one available to take delivery they may attempt to leave it with a neighbour or in a safe, secure location. A card will be left to advise of this, or to confirm that the parcel has been returned to the local depot. You can then contact them to arrange a collection or schedule a new delivery date. Please note,that a signature may not always be required.</p>
              
              <h2>Combined postage</h2>
              
              <p>We offer combined postage on your order. You may order up to 5 items and combine for the same delivery cost. Simply add all your items, (up to 5), into your eBay basket, and then go through to make a simple payment.</p>
              
              <h2>Delivery charges</h2>
              
              <p><strong>UK DELIVERY</strong></p>
              
              <p>Royal Mail 48™ : 2 -3 working days. Price : £ 1.99</p>
              
              <p>Royal Mail 24™ : 1-2 working days. Price : £ 2.99</p>
              
              <p>We do post items to international costumers. </p>
              
              <p>For more information about worldwide delivery, <a href="#">click here</a></p>
              
              </div>
            </div>
            
          </div>
        </div>
            
            <!--<div class="product-right">
              <div class="product-title">L-Carnitine Xtreme - 60 Count Capsules</div>
              <div class="price3"><span>AU $ 17.99</span></div>
              <div class="product-intro"><strong>Product Code : </strong>1010101010</div>
              <div class="instock">Item in Stock  |  Usually dispatched within 2-4 days</div>
              <div class="short-des">
                <p>L-Carnitine is an amino acid known for promoting growth and development, fat-burning, increasing energy, and improving resistance to muscle fatigue. It is also great in dieting, as it can reduce feelings of hunger and weakness.</p>
              </div>
              <div class="getright-product"><h2 class="title">We provide the best products with best quality.</h2> </div>
            </div>-->
          </div>
        </div>
        
        <div class="brand">
        	<div class="brand-title"><img src="images/brand_title.jpg" /></div>
            
            <div class="brand-content"><img src="images/brands1992.gif" /></div>
        </div>
        
        <div class="promo-bottom">
        	<ul>
            	<li class="black"><span><img src="images/mens-sales.jpg" width="600" height="110"></span></li>
                
                <li class="red"><span><img src="images/women-sales.jpg" width="600" height="110"></span></li>
                
                <li class="red"><span>Attractive size guide picture</span></li>
                
                <li class="black"><span>Follow our eBay store (picture)</span></li>
            </ul>
        </div>
        
         <!-- Featured Product start---------------------------------------------------------------------------------------------------------- -->
        
        <div id="featured_products">
          <h3>you may also like:</h3>
          <div class="containerShadow">
            <div id="youmaylike-list">
              <ul id="mycarousel-like" class="jcarousel-skin-tango-like">
                <li>
                  <div id="product-like">
                    <div class="product-thumb"><a href="#"><img src="images/products/thumb1.jpg"></a></div>
                    <div class="product-title"><a href="#">Blend She Leather Jacket</a></div>
                    <div class="product-price">&pound;44.99</div>
                  </div>
                </li>
                <li>
                  <div id="product-like">
                    <div class="product-thumb"><a href="#"><img src="images/products/thumb2.jpg"></a></div>
                    <div class="product-title"><a href="#">Blend She Leather Jacket</a></div>
                    <div class="product-price">&pound;69.99</div>
                  </div>
                </li>
                <li>
                  <div id="product-like">
                    <div class="product-thumb"><a href="#"><img src="images/products/thumb3.jpg"></a></div>
                    <div class="product-title"><a href="#">Blend She Leather Jacket</a></div>
                    <div class="product-price">&pound;79.99</div>
                  </div>
                </li>
                <li>
                  <div id="product-like">
                    <div class="product-thumb"><a href="#"><img src="images/products/thumb4.jpg"></a></div>
                    <div class="product-title"><a href="#">Blend She Leather Jacket</a></div>
                    <div class="product-price">&pound;69.99</div>
                  </div>
                </li>
                <li>
                  <div id="product-like">
                    <div class="product-thumb"><a href="#"><img src="images/products/thumb5.jpg"></a></div>
                    <div class="product-title"><a href="#">Blend She Leather Jacket</a></div>
                    <div class="product-price">&pound;19.99</div>
                  </div>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
        <!--Featured product end------------------------------------------------------------------------------------------------------------------ --> 
        
      </div>
    </div>
    <div id="footer" class="clear">
      <div id="footer_container">
          <div class="designby"> Designed &amp; Developed by <a target="_blank" href="http://www.explorewebstore.com/">Explore WebStore</a> </div>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
</html>
